<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About us", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Help", '#' %></li>
			<li><%= link_to "Terms", '#' %></li>
            <li><%= link_to "Privacy", '#' %></li>						
		</ul>
	</nav>	
</footer>
